<section class="block container feature-container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep on Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, odio?</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <img src="images/feature-icon.png" alt="" width="30px" height="30px" style="border-radius:10px;">
        <h3 class="feature__heading"> Super Easy to use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, asperiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, voluptates.</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img  class="feature__images" src="images/feature.webp" alt="">
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <img src="images/feature-icon.png" alt="" width="30px" height="30px" style="border-radius:10px;">
        <h3 class="feature__heading"> Super Easy to use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, asperiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, voluptates.</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img  class="feature__images" src="images/feature2.webp" alt="">
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <img src="images/feature-icon.png" alt="" width="30px" height="30px" style="border-radius:10px;">
        <h3 class="feature__heading"> Super Easy to use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, asperiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, voluptates.</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img  class="feature__images" src="images/feature3.webp" alt="">
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <img src="images/feature-icon.png" alt="" width="30px" height="30px" style="border-radius:10px;">
        <h3 class="feature__heading"> Super Easy to use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, asperiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, voluptates.</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img  class="feature__images" src="images/feature4.webp" alt="">
    </article>
   </section>