<nav class="nav collapsible">
    <img src="images/moshlogo.svg" alt="" >
    <img class="nav__toggler" src="images/hamburger.png"width="40px" height="40px" alt="" style="background-color: #fff;border-radius: 10px;">
    <ul class="list nav__list collapsible__content">
      <li class="nav__item" ><a href="">Hosting</a></li>
      <li class="nav__item"><a href="">VPS</a></li>
      <li class="nav__item"><a href="">Domain</a></li>
      <li class="nav__item"><a href="">Pricing</a></li>
      
    </ul>
  </nav>