<blockquote class="quote">
    <p class="quote__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatibus nobis quia minima, tempora animi ut doloribus hic voluptates temporibus.</p>
    <div class="media">
      <div class="media__image">
        <img src="/images/minus.png" class="quote__line" alt="" width="50px">
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Zakariye Jimale</h3>
       <p class="quote__organization"> ABC COMPANY</p>
      </div>
     </div>
  </blockquote>